<div class="row" id="selected_part_<%= selected_part.id %>">
  <div class="col-md-4"><%= selected_part.name %></div>
  <div class="col-md-8 selected_part_option" id="selected_part_<%= selected_part.id %>_option"><%= selected_part.options.first.name %></div>
</div>