<h1>Listing garments</h1>


    <% @garments.each do |garment| %>
<div class="btn-group btn-group-justified">


<%= link_to garment.name, garment_path(garment.id), :class => "btn btn-default " %>
</div>
<% end %>

<br>


