<div class = "container">

	<h1>Listing garments</h1>
	
	

	<% @garments.each do |garment| %>

	<div class = "garment-margin">
		<div class="btn-group btn-group-justified">


			<%#= link_to garment.name, garment_path(garment.id), :class => "btn btn-default",:onclick=>"$('#show_loading_#{garment.id}').css('display','block')" %>

			 
			<%= form_tag(garment_path(garment.id),:method=>:get) do -%>
			    
               <div><%= submit_tag  garment.name ,:class=>'btn btn-default',:onclick=>"$('#show_loading_#{garment.id}').css('display','block')" %>

               </div>
            <% end -%>


		</div>
	</div>
	 <div id="show_loading_<%=garment.id%>" style="display:none;">
      Loading...
    </div>
	<% end %>


	<br>


	