<div class="col-md-2">
  <label for="part_<%= radio_option.part.id %>_option_<%= radio_option.id %>">
    <%= radio_button_tag "part[#{radio_option.part.id}][option]", radio_option.id, radio_option.part.options.first.id == radio_option.id, class: "radio_option", "data-option-part" => radio_option.part.id, "data-option-name" => radio_option.name %>
    <%= radio_option.name %>
  </label>
</div>