<div class="panel panel-default">
  <div class="panel-heading">
  	<h2 class="panel-title" id="">
  	 <b> <%= "#{print_section.name}"%></b>
  	</h2>
  </div>
  <div id="collapse_part_<%= print_section.id %>" class="panel-collapse collapse in">
    <div class="panel-body">
      
       <% @order_data.each do |k, v| %>
        <% v.each do |part_key, part_values| %>
          <% part = Part.find part_key %>
     <%if !part_values["option"].blank? %>         
           <% option = Option.find part_values["option"]  %>
               <%if option.class == Array%>
                    <%option.each do |opt|%>
                         <%if !opt.printable_photo(:small).include? "missing"%>
                        <%=render :partial=>"p_section",:locals=>{:option=>opt,:print_section=>print_section,:part_values=>part_values}%>
                         <%end%>   
        <%end%>
               <%else%>
       <%if !option.printable_photo(:small).include? "missing"%>
                 <%=render :partial=>"p_section",:locals=>{:option=>option,:print_section=>print_section,:part_values=>part_values}%>
       <% end %>
        <% end %>                                             
        <% end %>
      <% end %>
                              <% end %>
    
  </div>
  </div>
</div>

