<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @print_section.name %>
</p>

<%= link_to 'Edit', edit_print_section_path(@print_section) %> |
<%= link_to 'Back', print_sections_path %>
