// Place all the styles related to the Options controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

label.option_radio_label > input{ /* HIDE RADIO */
  display:none;
}

input.part_child_18 + img,
input.radio_option_child + img,
label.option_radio_label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:1px solid transparent;
      height: 100px;
              display: block;

      
}