// Place all the styles related to the Options controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

label.option_radio_label > input{ /* HIDE RADIO */
  display:none;
}
label.option_radio_label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label.option_radio_label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border: 1px solid #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
label.option_radio_label > input.c_disabled:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}