// Place all the styles related to the Options controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

label.option_radio_label > input{ /* HIDE RADIO */
  display:none;
}

input.part_child_18 + img,
input.radio_option_child + img,
label.option_radio_label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:1px solid transparent;
      height: 100px;
              display: block;

      
}

input:checked.part_child_15 + img,
input:checked.part_child_18 + img,
input:checked.radio_option_child + img,
label.option_radio_label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border: 1px solid #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

}

input[type="radio"], input[type="checkbox"]{
  width: 100px;
height: 100px;
position: absolute;
opacity: 0;
cursor: pointer;
}


