// Place all the styles related to the Parts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.part-options {
  border: 1px solid #DDD;
  margin-bottom: 20px;
  border-radius: 5px;
  over-flow: hidden;
}